* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(135, 193, 205);

    display: grid;
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: 1fr;

    position: absolute;
}

/* Header styling */

header {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid black;
    background-color: white;

    grid-column: 1 / 3;

    display: flex;
    justify-content: space-between;
    gap: 50px;
}

div.header {
    margin-bottom: 20px;
}

div.header:first-child {
    margin-left: 80px;
    font-size: 60px;
    font-weight: 700;
}

button.header {
    margin: 20px 0;
    margin-right: 80px;
    padding: 0 20px;
    font-size: 28px;
    font-weight: 700;

    background-color: transparent;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;

    transition: background-color 0.3s, color 0.3s;
}

button.header:hover {
    background-color: black;
    color: white;
}

dialog {
    position: relative;
    margin: 0 auto;
    top: 50px;
    max-width: 100ch;

    padding: 30px;
    border-radius: 20px;
}

dialog > form > *:not(button) {
    margin: 40px;
    font-size: 18px;
}

dialog > form > p {
    margin: 10px;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
}

dialog > form > div > label {
    display: inline-block;
    width: 150px;
    text-align: left;
}

dialog > form > div > input,
dialog > form > div > select {
    font-size: 16px;
    padding: 5px;
}

dialog::backdrop {
    background-color: grey;
    opacity: 0.6;
}

dialog > form > button {
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(241, 194, 107);
    margin-left: 30px;
    cursor: pointer;

    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

dialog > form > button:hover {
    transform: scale(1.1);
}

dialog > form > button[type="submit"]:hover {
    background-color: rgb(80, 188, 80);
    color: white;
}

dialog > form > button[type="reset"]:hover {
    background-color: #e75c5c;
    color: white;
}

/* Main */

main {
    display: grid;
    grid-template-columns: 0.05fr 1fr 0.05fr;
}

.wrapper {
    grid-column: 2 / 3;
    margin: 20px 0;
    /* border: 2px solid red; */

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: start;
    gap: 10px 15px;
}

.book {
    border: 1px solid rgb(0, 68, 255);
    border-radius: 10px;
    text-align: center;
    width: inherit;
    height: 400px;
    background: rgb(133, 206, 251);

    /* display: flex;
    flex-direction: column; */

    display: grid;
    grid-template-rows: 0.5fr 2fr 0.25fr;
}

.book.read {
    background-color: lightgreen;
    border: 1px solid rgb(0, 132, 26);
}

.bookContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    flex: 0;
    margin: 30px 10px 0 10px;
}

.bookContent > h1 {
    font-size: 28px;
    font-weight: 100;
}

.bookContent > h2 {
    font-size: 38px;
    margin-top: 20px;
}

.bookContent > h3 {
    font-size: 25px;
    font-weight: 100;
}

.readStat {
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: rgb(236, 255, 129);
    font-size: 18px;

    text-align: center;
}

.readStat > p {
    margin: 5px 0;
}

.buttons {
    /* border: 2px solid red; */
    margin-top: 10px;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons > label,
.buttons > button {
    margin: 20px;
}

.removeBtn {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: none;
    border: none;
    background-color: white;
    transition: background-color .3s, color .3s;
}

.removeBtn:hover {
    background-color: rgb(244, 35, 35);
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e75c5c;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input[type="checkbox"]:checked + .slider {
    background-color: green;
}

input[type="checkbox"]:focus + .slider {
    box-shadow: 0 0 1px green;
}

input[type="checkbox"]:checked + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round::before {
    border-radius: 50%;
}


/* Footer */

footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    border-top: 2px solid black;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

div.credits {
    font-size: 18px;
    letter-spacing: 2px;

    display: flex;
    align-items: center;
    gap: 10px;

}

div.credits > a {
    transition: transform 0.3s;
}

div.credits > a:hover {
    transform: rotate(360deg) scale(1.1);
}
