* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(135, 193, 205);

    display: grid;
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: 1fr;

    position: absolute;
}

/* Header styling */

header {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid black;
    background-color: white;

    grid-column: 1 / 3;

    display: flex;
    justify-content: space-between;
    gap: 50px;
}

div.header {
    margin: 20px 0;
}

div.header:first-child {
    margin-left: 80px;
    font-size: 50px;
    font-weight: 500;
}

button.header {
    margin: 20px 0;
    margin-right: 80px;
    padding: 0 20px;
    font-size: 25px;
    font-weight: 500;

    background-color: transparent;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}

dialog {
    position: relative;
    margin: 0 auto;
    top: 50px;
    max-width: 100ch;

    padding: 30px;
    border-radius: 20px;
}

/* dialog > form {
    border: 2px solid red;
} */

dialog > form > *:not(button) {
    margin: 30px;
    font-size: 16px;
}

dialog > form > p {
    font-size: 20px;
    text-align: center;
}

dialog > form > div > label {
    display: inline-block;
    width: 150px;
    text-align: left;
}

dialog > form > div > input,
dialog > form > div > select {
    font-size: 16px;
    padding: 5px;
}

dialog::backdrop {
    background-color: grey;
    opacity: 0.6;
}

dialog > form > button {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(241, 194, 107);
    margin-left: 30px;
}

/* Main */

main {
    display: grid;
    grid-template-columns: 0.05fr 1fr 0.05fr;
}

.wrapper {
    grid-column: 2 / 3;
    border: 2px solid red;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(150px, 250px)); */
    gap: 10px 15px;
}

.book {
    border: 2px solid red;
    text-align: center;

    display: grid;
}

.book > h1 {
    font-size: 25px;
    margin: 15px 0;
}

/* Footer */

footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    border-top: 2px solid black;
    background-color: white;
}