* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    background-color: antiquewhite;

    display: grid;
    grid-template-rows: 150px 1fr 80px;
    grid-template-columns: 0.5fr 1fr;

    position: absolute;
}

/* Header styling */

header {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid black;
    background-color: white;

    grid-column: 1 / 3;

    display: flex;
    justify-content: space-between;
    gap: 50px;
}

div.header {
    margin: 40px 0;
}

div.header:first-child {
    margin-left: 200px;
    font-size: 50px;
    font-weight: 500;
}

button.header {
    margin: 40px 0;
    margin-right: 200px;
    padding: 0 20px;
    font-size: 30px;
    font-weight: 500;

    background-color: transparent;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}

dialog {
    position: relative;
    margin: 0 auto;
    top: 50px;
    max-width: 100ch;

    padding: 30px;
    border-radius: 20px;
}

/* dialog > form {
    border: 2px solid red;
} */

dialog > form > *:not(button) {
    margin: 30px;
    font-size: 16px;
}

dialog > form > p {
    font-size: 20px;
    text-align: center;
}

dialog > form > div > label {
    display: inline-block;
    width: 150px;
    text-align: left;
}

dialog > form > div > input {
    font-size: 16px;
    padding: 5px;
}

dialog::backdrop {
    background-color: grey;
    opacity: 0.6;
}

dialog > form > button {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(241, 194, 107);
    margin-left: 30px;
}

/* Main */

main {
    grid-column: 1 / 3;
}




/* Footer */

footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    border-top: 2px solid black;
    background-color: white;
}